################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
.vscode/
obj/
bin/
*.dll
/BankKata/BankKata.sln.DotSettings.user
